.keyboard-wrapper {
    margin-top: 1em;
    padding: 1em;
    background: var(--background-toggle);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    border-radius: 10px;

    &.theme02 {
        background: var(--background-toggle-gray-red);
    }

    &.theme03 {
        background: var(--background-violet-dark-2);
    }

    .k-digit {
        width: 90px;
        height: 60px;
        background: var(--key-background-orange);
        border-radius: 10px;
        box-shadow: 0px 4px var(--key-shadow-blue);

        &:hover {
            background-color: white;
        }

        &.theme02 {
            background: var(--key-background-yellow);
            box-shadow: 0px 4px var(--key-shadow-yellow);

            &:hover {
                background-color: white;
            }
        }

        &.theme03 {
            background: var(--key-background-violet-2);
            box-shadow: 0px 4px var(--key-shadow-magenta-2);

            &:hover {
                background: #6B34AC;
                box-shadow: 0px 4px #C318F8;
            }
        }

        .button {
            width: 100%;
            height: 100%;
            border: transparent;
            cursor: pointer;
            background: transparent;
            color: var(--background-toggle);
            font-family: 'League Spartan', sans-serif;
            font-weight: 400;
            font-size: 22px;

            &.theme03 {
                color: var(--text-yellow-light);
            }


        }


        &.reset,
        &.equal {
            width: 45%;
        }

        &.equal {
            &:hover {
                background-color: #F96C5B;
                box-shadow: 0px 4px #932821;
            }

            &.theme02 {
                background: var(--key-background-orange-2);
                box-shadow: 0px 4px var(--key-shadow-orange-2);

                &:hover {
                    background-color: #FF8B38;
                    box-shadow: 0px 4px #813300;
                }
            }

            &.theme03 {
                background: #00DECF;
                box-shadow: 0px 4px #7DFAF6;

                &:hover {
                    background-color: #94FFF9;
                }
            }
        }


        &.del {
            background: var(--key-background-blue);

            &:hover {
                background: #A2B2E2;
                box-shadow: 0px 4px #435073;
            }

            button {
                color: var(--text-white);

                &.theme03 {
                    color: var(--text-white);
                }
            }

            &.theme02 {
                background: var(--key-background-cyan);
                box-shadow: 0px 4px var(--key-shadow-cyan);

                &:hover {
                    background-color: #61B5BD;
                    box-shadow: 0px 4px #175960;
                }
            }

            &.theme03 {
                background: #55087C;
                box-shadow: 0px 4px #C318F8;

                &:hover {
                    background-color: #8631B0;
                }
            }
        }

        &.reset {
            background: var(--key-background-blue);

            &:hover {
                background: #A2B2E2;
                box-shadow: 0px 4px #435073;
            }

            button {
                text-transform: uppercase;
                color: var(--text-white);

                &.theme03 {
                    color: var(--text-white);
                }

            }

            &.theme02 {
                background: var(--key-background-cyan);
                box-shadow: 0px 4px var(--key-shadow-cyan);

                &:hover {
                    background-color: #61B5BD;
                    box-shadow: 0px 4px #175960;
                }
            }

            &.theme03 {
                background: #55087C;
                box-shadow: 0px 4px #C318F8;

                &:hover {
                    background-color: #8631B0;
                }
            }
        }

        &.equal {
            background: var(--key-background-red);
            box-shadow: 0px 4px var(--key-background-red);

            button {
                color: var(--text-white);

                &.theme03 {
                    color: var(--text-dark-blue-2);
                }
            }
        }
    }
}

@media (max-width: 375px) or (max-width: 1155px) {
    .keyboard-wrapper {
        padding: .5em;

        .k-digit {
            width: 20%;
            height: 13vw;

            &.reset,
            &.equal {
                height: 50%;
                height: 13vw;
            }
        }
    }
}